@import "tailwindcss";

.heading-text {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
  font-size: 48px;
}
.transparent-text {
  fill-opacity: 0;
  stroke: cyan;
  stroke-width: 0.3px;
  filter: drop-shadow(0 0 2px cyan) drop-shadow(0 0 4px cyan);
}
.header-backdrop {
  fill: #223;
}

body {
  background: lightcyan;
  margin: 0;
}
header {
  width: 100%;
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  background: #223; /* same color as SVG overlay */
}
@media (min-width: 1200px) {
  header {
    padding: 0 calc(50% - 600px);
    /* add side-padding if available width is more than 1200px */
  }
}
.header-wrap {
  position: relative;
  margin: 0 auto;
  box-sizing: border-box;
  padding-bottom: 56.25%; /* = 100% * 9/16 */
  max-width: calc((100vh - 2em) * 16 / 9);
}
header,
header video,
header svg {
  max-height: calc(100vh - 2em);
}
header video,
header svg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
header svg {
  box-sizing: content-box;
  padding: 5px; /* cover up edges of video completely */
  top: -5px;
  left: -5px;
  overflow: visible;
}